.container {
  max-width: var(--width-medium);
  margin: 0 auto;
  padding: 1rem 2rem;
}

h1::selection,
h2::selection {
  color: #111;
  background: var(--primary-color);
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 0.75rem 1.9rem;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.82rem;
  transition: 0.3s;
}

.btn-primary {
  background: var(--primary-color);
  color: #000000;
}

.btn-connect {
    background-color: var(--primary-color); 
    color: #000000; 
    padding: 12px 25px; 
    border: none;
    border-radius: 30px; /* Sesuaikan dengan tombol RESUME */
    text-transform: uppercase;
    font-weight: 600; /* Sesuaikan dengan font weight RESUME */
    cursor: pointer;
    text-decoration: none; /* Penting jika menggunakan tag <a> */
    
    /* Tambahkan transisi untuk animasi halus saat hover/ganti tema */
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

/* Efek Hover (opsional) */
.btn-connect:hover {
    /* Membuat warna kuning sedikit lebih gelap atau terang saat di-hover */
    background-color: var(--secondary-color); /* Anda bisa menggunakan variabel sekunder Anda */
    transform: translateY(-2px);
}

/* add hover to resume button */
.btn-primary:hover {
  background: var(--secondary-color);
}

/* Dark mode toggle */
#switch {
  display: none;
}

.toggle-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.toggle-icons > img {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  width: 30px;
}

.moon {
  transform: rotate(10deg);
}

#switch:checked + .toggle-icons .moon {
  transform: rotate(250deg);
}

#switch:checked + .toggle-icons .sun {
  transform: rotate(100deg);
}

/* Header Container */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  padding: 1rem;
}

.header-container > div {
  margin-top: 1rem;
}

.content-text {
  text-align: center;
  margin: 1.5rem 0;
}

.content-text h1 {
  font-size: 2rem;
  line-height: 1;
  transition: 0.2s ease-in-out;
}

.content-text h2 {
  font-size: 2rem;
  line-height: 1.5;
  transition: 0.2s ease-in-out;
}

.content-text h3 {
  font-size: 1.5rem;
  line-height: 2;
  transition: 0.2s ease-in-out;
}

.content-text p {
  padding: 0.5rem;
  margin: 0 auto;
  max-width: 700px;
}

/* Project cards */
.card {
  padding: 1rem;
  background: var(--card-background);
  color: #ffffff;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.card a {
  color: #ffffff;
  transition: 0.25s ease-in-out;
  font-size: 1.1rem;
  margin-right: 0.3rem;
}

.card a:hover {
  color: var(--primary-color);
}

.card:hover {
  box-shadow: inset 0 100px 1000px 10px rgba(0, 0, 0, 0.8);
}

.card:hover .project-info {
  opacity: 1;
}
.project-info {
  margin-top: 0.5rem;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

/* project 1 */
.card:nth-child(1) {
  background: url(../assets/project/btnjakim.jpg) center center/cover;
}

/* Project 2 */
.card:nth-child(2) {
  background: url(../assets/project/SC.jpg) center center/cover;
}

/* Project 3 */
.card:nth-child(3) {
  background: url(../assets/project/GR.jpg) center center/cover;
}

/* Project 4 */
.card:nth-child(4) {
  background: url(../assets/project/PCFVOL1.jpg) center center/cover;
}

/* Project 5 */
.card:nth-child(5) {
  background: url(../assets/project/PCFVOL2.jpg) center center/cover;
}

/* Project 6 */
.card:nth-child(6) {
  background: url(../assets/project/dina.jpg) center center/cover;
}

/* Project 7 */
.card:nth-child(7) {
  background: url(../assets/project/magno.jpg) center center/cover;
}

/* Project 8 */
.card:nth-child(8) {
  background: url(../assets/project/IndiaEmb.jpg) center center/cover;
}

/* Project 9 */
.card:nth-child(9) {
  background: url(../assets/project/amartha.jpg) center center/cover;
}

/* Project 10 */
.card:nth-child(10) {
  background: url(../assets/project/mnkbme.jpg) center center/cover;
}

/* Project 11 */
.card:nth-child(11) {
  background: url(../assets/project/indofringe.jpg) center center/cover;
}

/* Project 12 */
.card:nth-child(12) {
  background: url(../assets/project/headphone.PNG) center center/cover;
}

/* Project 13 */
.card:nth-child(13) {
  background: url(../assets/project/ngopsi.png) center center/cover;
}

/* Project 14 */
.card:nth-child(14) {
  background: url(../assets/project/FEED.png) center center/cover;
}

/* Project 15 */
.card:nth-child(15) {
  background: url(../assets/project/MEDIARNA.png) center center/cover;
}

/* Project 16 */
.card:nth-child(16) {
  background: url(../assets/project/sicaskal.PNG) center center/cover;
}

/* Project 17 */
.card:nth-child(17) {
  background: url(../assets/project/trackmy.PNG) center center/cover;
}

/* Project 18 */
.card:nth-child(18) {
  background: url(../assets/project/teamhindia.jpg) center center/cover;
}